<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Travel Application</title>
</head>
 <body>
 <header>
     <div class="">
         <h1>Travel App</h1>
         <img src="./media/Travel.jpg" alt="Travel Img" style="width:300px;height:200px;">
     </div>
     <div id="navbar">
         <div class= "hdnavbar" id="home"><a href="index.html">Home</a></div>
         <div class= "hdnavbar" id="previous"><a href="index.html">&laquo; Prev</a></div>
         <div class= "hdnavbar" id="next"><a href="index1.html">Next &raquo;</a></div>
         <div class= "hdnavbar" id="apisource"><a href="https://www.meaningcloud.com/developer/apis" target="_blank">API Source</a></div>
     </div>
 </header>
 <main>
     <section>
         <H1>Enter the Trip Details</H1>
         <br>
         <form class="" onsubmit="return Client.handleSubmit3(event)">
         <div class ="holder city">
             <label for="city">Enter City Name</label>
             <input type="text" id="city" placeholder="city name" onfocus="Client.onFocus1()" onblur="Client.onBlur1()">
         </div>
         <div class ="holder date">
             <label for="tripdate">Trip Start Date</label>
             <input type="date"  id="tripdate"  onfocus="Client.onFocus2()" onblur="Client.onBlur2()" placeholder="departure date">
             <label for="tripdate2">Trip Return Date</label>
             <input type="date"  id="tripdate2" onfocus="Client.onFocus2()" onblur="Client.onBlur2()" placeholder="return date">
             <button id="generate" type = "submit" name="" value="submit" onclick="return Client.handleSubmit3(event)" onsubmit="return Client.handleSubmit3(event)">Search</button>
         </div>
         </form>
         <div class="LoadImage"></div>
     </section>

     <section>
         <strong>Form Results:</strong><br>
         <div class ="holder entry">
             <div class = "title">Most Recent Entry</div>
             <div id = "entryHolder">
                 <div id = "date"></div>
                 <div id = "temp"></div>
                 <div id = "content"></div>
             </div>
         </div>
<!--         <div class='scoreboard'></div>-->
     </section>
 </main>
</body>
</html>
