$primary-color: burlywood;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
//#app{
//    display: grid;
//    grid-auto-rows: minmax(150px, auto);
//    /* grid-template-columns:  */
//    height:100vh;
//    background: #f23557;
//    color: #f0d43a;
//    justify-content: center;
//    grid-gap: 1em;
//    font-size: 20px;
//    font-family: 'Oswald', sans-serif;
//}

main {
    flex: 2;
    background-color: $primary-color;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

label{
    display:block;
    font-size: 22px;
}

h1 {
    font-family: arial, sans-serif;
    color: rgba(21, 40, 162, 0.72);
    font-size: 22px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

h2 {
    font-family: arial, sans-serif;
    color: rgb(255, 136, 0);
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

h3 {
    font-family: arial, sans-serif;
    color: rgba(47, 162, 21, 0.72);
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}