form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 5px;
}

input {
    display:block;
    padding: 5px 20px;
    height: 30px;
    width: 220px;
    line-height: 16px;
    margin: 10px 0;
    background:#22b2da;
    color: rgba(6, 7, 5, 0.72);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

.entry{
    background: rgba(107, 65, 59, 0.4);
}

#subBtn {
    background: teal;
    color: white;

    &:hover {
        background:aqua;
    }
    &:visited {
        background: fuchsia;
    }
}
#generate {
    background: teal;
    color: white;

    &:hover {
        background:aqua;
    }
    &:visited {
        background: fuchsia;
    }
}
button{
    width: 100px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}


